<%- include("header") %>

<body>

  <%- include("leftbar") %>


  <%- include("navbar") %>


<div class="br-mainpanel">
    <div class="br-pagetitle">
        <div class="container-fluid p-5">
            <h2 class="text-center text-primary">Add Post-Details</h2>
            <form method="post" action="/addPostDetails" id="add-form" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="hidden" name="postId">
                    <input name="title" class="form-control" placeholder="Enter title" required>
                </div>
                <div class="form-group">
                    <label for="content">Content:</label>
                    <textarea name="content" class="form-control" placeholder="Enter Content" required></textarea> 
                </div>
                <div class="form-group">
                    <label for="shortDescription">Short Description:</label>
                    <textarea name="shortDescription" id="myTextarea" class="form-control editorOne" placeholder="Enter Short Description"></textarea> 
                </div>
                <div class="form-group">
                    <label for="image" >Thumbnail:</label>
                    <input name="image" class="form-control" type="file" required>
                </div>
                <div class="form-group py-2">
                    <label for="status" class="text-light">Status: </label>
                    <div class="radio form-check form-check-inline">
                        <input type="radio" id="radio4" name="status" value="Active" required>
                        <label for="radio4" >Active</label>
                    </div>
                    <div class="radio form-check form-check-inline">
                        <input type="radio" id="radio5" name="status" value="Inactive" required>
                        <label for="radio5">Inactive</label>
                    </div>
                </div>
                <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>   
            </form>   
        </div>
        <!-- <div class="form-group col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
            <form id="algin-form" method="POST" action="/doComment " id="doComment">
                <input type="hidden" name="postComments_id" >
                <h3>Leave a comment:- </h3>
                <br>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="First name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" placeholder="Email address" class="form-control">
                </div>
                <div class="form-group">
                    <label for="comment">Message:</label>
                    <textarea name="comment" id="comment" cols="30" rows="5" class="form-control" placeholder="Your response" style="background-color: black;"></textarea>
                </div>
                <div class="form-group py-2">
                    <label for="status" class="text-light">Status: </label>
                    <div class="radio form-check form-check-inline">
                        <input type="radio" id="radio4" name="status" value="Active" required>
                        <label for="radio4" >Active</label>
                    </div>
                    <div class="radio form-check form-check-inline">
                        <input type="radio" id="radio5" name="status" value="Inactive" required>
                        <label for="radio5">Inactive</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" id="post" class="btn text-light">Submit</button>
                </div>
            </form>
        </div> -->
    </div>
</div>


<%- include("footer") %>
