<div class="mx-2">
<div class="br-mainpanel">
<footer class="br-footer">
    <div class="footer-left">
      <div class="mg-b-2">Copyright &copy; 2022. Bracket Plus. All Rights Reserved.</div>
      <div>Attentively and carefully made by S. M. Rafi Alam   .</div>
    </div>
    <div class="footer-right d-flex align-items-center">
      <span class="tx-uppercase mg-r-10">Share:</span>
      <a target="_blank" class="pd-x-5" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themepixels.me/bracketplus/intro"><i class="fab fa-facebook tx-20"></i></a>
      <a target="_blank" class="pd-x-5" href="https://twitter.com/home?status=Bracket%20Plus,%20your%20best%20choice%20for%20premium%20quality%20admin%20template%20from%20Bootstrap.%20Get%20it%20now%20at%20http%3A//themepixels.me/bracketplus/intro"><i class="fab fa-twitter tx-20"></i></a>
    </div>
  </footer>
</div>
</div>

    <script src="../../static/admin/lib/jquery/jquery.min.js"></script>
    <script src="../../static/admin/lib/jquery-ui/ui/widgets/datepicker.js"></script>
    <script src="../../static/admin/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/admin/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/admin/lib/moment/min/moment.min.js"></script>
    <script src="../../static/admin/lib/peity/jquery.peity.min.js"></script>
    <script src="../../static/admin/lib/rickshaw/vendor/d3.min.js"></script>
    <script src="../../static/admin/lib/rickshaw/vendor/d3.layout.min.js"></script>
    <script src="../../static/admin/lib/rickshaw/rickshaw.min.js"></script>
    <script src="../../static/admin/lib/jquery.flot/jquery.flot.js"></script>
    <script src="../../static/admin/lib/jquery.flot/jquery.flot.resize.js"></script>
    <script src="../../static/admin/lib/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../../static/admin/lib/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="../../static/admin/lib/echarts/echarts.min.js"></script>
    <script src="../../static/admin/lib/select2/js/select2.full.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAq8o5-8Y5pudbJMJtDFzb8aHiWJufa5fg"></script>
    <script src="../../static/admin/lib/gmaps/gmaps.min.js"></script>
    <script src="../../static/admin/js/bracket.js"></script>
    <script src="../../static/admin/js/map.shiftworker.js"></script>
    <script src="../../static/admin/js/ResizeSensor.js"></script>
    <script src="../../static/admin/js/dashboard.dark.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/filepond/4.30.4/filepond.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../../static/admin/js/popper.js"></script>
    <script src="../../static/admin/js/bootstrap-multiselect.js"></script>
    
  </body>
</html>