
                   <%- include("registerHeader") %>

            <form class="mx-1 mx-md-4" action="/register" method="post">

                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-group flex-fill mb-0">
                        <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name*"/>
                        <label class="form-label" name="name" for="name">Your Name</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-group flex-fill mb-0">
                        <input type="email" id="email" name="email" placeholder="Enter Email*" class="form-control" />
                        <label class="form-label" for="email" name="email">Your Email</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-group flex-fill mb-0">
                        <input type="number" id="phone" name="phone" placeholder="Enter Phone No.*" class="form-control" />
                        <label class="form-label" for="phone" name="phone">Your Phone No.</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-group flex-fill mb-0">
                        <input type="password" id="RegPassword" name="RegPassword" placeholder="Enter Password*" class="form-control" />
                        <label class="form-label" for="RegPassword" name="RegPassword">Password</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-group flex-fill mb-0">
                        <input type="password" id="repeatRegPassword" class="form-control" name="repeatRegPassword" placeholder="Confirm Password*"/>
                        <label class="form-label" for="repeatRegPassword" name="repeatRegPassword">Repeat your password</label>
                      </div>
                    </div>

                    

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>

                  </form>

                  <%- include("registerFooter") %>
