
      <div class="footer__bottom">
        <div class="container">
          <div class="footer__bottom-content color-gray">
            <p
              class="copyright-text footer__bottom-text-left footer__bottom-copy"
            >
              Copyright @ 2019 Pruvit Ventures, Inc. All rights reserved.
            </p>

            <p class="copyright-text footer__bottom-text-right">
              † These statements have not been evaluated by the FDA. This
              product is not intended to diagnose,
              <span class="br-desktop"
                >treat, cure, or prevent any disease.</span
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://kit.fontawesome.com/c64fff7a9f.js"
      crossorigin="anonymous"
    ></script>
    <script src="../../static/user/js/jquery-3.4.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="../../static/user/js/slick/slick.min.js"></script>
    <script src="../../static/user/js/bootstrap4.4.1/bootstrap.min.js"></script>
    <script src="../../static/user/js/script.js"></script>
    <script src="../../static/user/js/script-2.js"></script>
  </body>
</html>


