<%- include("header") %>

    <main class="blog">
      <% users.forEach(function(user){ %>
      <section class="blog-top">
        <article class="container blog-container">
          <figure class="row blog-title">
            <div class="col-sm-12 text-center">
              <h1 class="color-black"> <%= user.title %> </h1>

              <h4 class="color-black blog-title-b">
                <%= user.content %>
                <!-- Catch up on current trends from leading throught-leaders in the
                ketone space. -->
              </h4>
            </div>
          </figure>

          <figure class="row blog-slider-wrap">
            <div class="col-sm-12 sk-main__banner-slider">
              <div class="blog-inner-cont">
                <div class="blog-text">
                  <p class="color-white blog-subtitle-s">
                    by Prüvit in Recipes
                  </p>
                  <h2 class="color-white blog-subtitle">
                    Chocolate-Covered Cherry Frappeketo™
                  </h2>
                  <p class="blog-slider-description color-white">
                    Today is the day for love and chocolate, and we’re showing
                    it with Pure Therapeutic Ketones® in our Chocolate Covered
                    Cherry Frappeketo™! Whip one of these up and share it with
                    your love.
                  </p>
                  <div class="blog-slider-btn">
                      <a href="/blogdetails" 
                      class="button button-primary buy-now-lg sk-main__banner-custom-btn"
                    >Read Post</a>
                   
                  </div>
                </div>
              </div>

              <div class="blog-inner-cont">
                <div class="blog-text">
                  <p class="color-white blog-subtitle-s">
                    by Prüvit in Recipes
                  </p>
                  <h2 class="color-white blog-subtitle">
                    Chocolate-Covered Cherry Frappeketo™
                  </h2>
                  <p class="blog-slider-description color-white">
                    Today is the day for love and chocolate, and we’re showing
                    it with Pure Therapeutic Ketones® in our Chocolate Covered
                    Cherry Frappeketo™! Whip one of these up and share it with
                    your love.
                  </p>
                  <div class="blog-slider-btn">
                    <button
                      class="button button-primary buy-now-lg sk-main__banner-custom-btn"
                    >
                      Read Post
                    </button>
                  </div>
                </div>
              </div>
              <div class="blog-inner-cont">
                <div class="blog-text">
                  <p class="color-white blog-subtitle-s">
                    by Prüvit in Recipes
                  </p>
                  <h2 class="color-white blog-subtitle">
                    Chocolate-Covered Cherry Frappeketo™
                  </h2>
                  <p class="blog-slider-description color-white">
                    Today is the day for love and chocolate, and we’re showing
                    it with Pure Therapeutic Ketones® in our Chocolate Covered
                    Cherry Frappeketo™! Whip one of these up and share it with
                    your love.
                  </p>
                  <div class="blog-slider-btn">
                    <button
                      class="button button-primary buy-now-lg sk-main__banner-custom-btn"
                    >
                      Read Post
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </figure>
        </article>
      </section>
     <% }) %>
      <!-- end blog-top -->
      <section class="blog-topic">
        <article class="container">
          <div class="row">
            <div class="col-sm-12 blog-topic-title">
              <h3>Topics</h3>
            </div>
          </div>

          <figure class="row blog-topic-container">
            <div class="col-sm-6 col-md-3">
              <div
                class="topic-inner"
                style="background-image: url(../../static/user/images/education.png)"
              >
                <div class="topic-inner-text color-white">
                  <h3>Education</h3>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div
                class="topic-inner"
                style="background-image: url(../../static/user/images/keto-lifestyle.png)"
              >
                <div class="topic-inner-text color-white">
                  <h3>Keto lifestyle</h3>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div
                class="topic-inner"
                style="background-image: url(../../static/user/images/kids.png)"
              >
                <div class="topic-inner-text color-white">
                  <h3>Kids</h3>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div
                class="topic-inner"
                style="background-image: url(../../static/user/images/recipe.png)"
              >
                <div class="topic-inner-text color-white">
                  <h3>Recipes</h3>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div
                class="topic-inner"
                style="background-image: url(../../static/user/images/kids.png)"
              >
                <div class="topic-inner-text color-white">
                  <h3>Kids</h3>
                </div>
              </div>
            </div>
          </figure>
        </article>
      </section>
      <!-- END of blog-topic -->

      <section class="latest-post">
        <article class="container">
          <figure class="row">
            <div class="col-12">
              <div class="latest-post-title">
                <h3>Latest Post</h3>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="latest-post-inner">
                <div
                  class="latest-post-inner-img"
                  style="background-image: url(../../static/user/images/keto-kedamy.png)"
                ></div>

                <div class="latest-post-inner-text">
                  <p>
                    <a href="#" class="color-black">
                      Chocolate-Covered Cherry Frappeketo™
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="latest-post-inner">
                <div
                  class="latest-post-inner-img"
                  style="background-image: url(../../static/user/images/costa-rica.png)"
                ></div>

                <div class="latest-post-inner-text">
                  <p>
                    <a href="#" class="color-black">
                      Socializing is MORE important than you think
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="latest-post-inner">
                <div
                  class="latest-post-inner-img"
                  style="background-image: url(../../static/user/images/more.png)"
                ></div>
                <div class="latest-post-inner-text">
                  <p>
                    <a href="#" class="color-black">
                      Monitoring Ketone And Blood Glucose Levels On A Low Carb
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="latest-post-inner">
                <div
                  class="latest-post-inner-img"
                  style="background-image: url(../../static/user/images/road.png)"
                ></div>

                <div class="latest-post-inner-text">
                  <p>
                    <a href="#" class="color-black">
                      Chocolate-Covered Cherry Frappeketo™
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="latest-post-inner">
                <div
                  class="latest-post-inner-img"
                  style="background-image: url(../../static/user/images/bload.png)"
                ></div>

                <div class="latest-post-inner-text">
                  <p>
                    <a href="#" class="color-black">
                      Socializing is MORE important than you think
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="latest-post-inner">
                <div
                  class="latest-post-inner-img"
                  style="background-image: url(../../static/user/images/coffe.png)"
                ></div>

                <div class="latest-post-inner-text">
                  <p>
                    <a href="#" class="color-black">
                      Monitoring Ketone And Blood Glucose Levels On A Low Carb
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 text-center blog-posts-seemore">
              <a href="#"> see more </a>
            </div>
          </figure>
        </article>
      </section>
      <!-- END of latest-post -->
    </main>
    <!-- end of blog -->

    <!-- end for main  -->

    <footer class="footer color-black-bg">
      <div class="footer__top border-bottom-2">
        <div class="container">
          <div class="footer__logo-box">
            <a href="#"
              ><img
                src="../../static/user/images/pruvitnow-logo-footer.png"
                alt="Logo Footer"
                class="img-fluid footer__logo"
            /></a>
          </div>

          <div class="footer__nav">
            <div class="footer__nav-content">
              <div class="footer__nav-item footer__nav-item-d">
                <figure class="footer__links">
                  <p class="disclaimer-bold color-white-dsrk">Join</p>
                  <ul class="footer__links-list">
                    <li>
                      <a href="#" class="footer__link disclaimer-reg color-gray"
                        >Join as Customer</a
                      >
                    </li>
                    <li>
                      <a href="#" class="footer__link disclaimer-reg color-gray"
                        >Join as Promoter</a
                      >
                    </li>
                    <li>
                      <a href="#" class="footer__link disclaimer-reg color-gray"
                        >Upgrade to Promoter</a
                      >
                    </li>
                  </ul>
                </figure>
              </div>

              <div class="footer__nav-item footer__nav-item-d">
                <figure class="footer__links">
                  <p class="disclaimer-bold color-white-dsrk">Company</p>
                  <ul class="footer__links-list">
                    <li>
                      <a href="#" class="footer__link disclaimer-reg color-gray"
                        >About</a
                      >
                    </li>
                    <li>
                      <a href="#" class="footer__link disclaimer-reg color-gray"
                        >Promoter Rewards</a
                      >
                    </li>
                  </ul>
                </figure>
              </div>

              <div class="footer__nav-item footer__nav-item-d">
                <figure class="footer__links">
                  <p class="disclaimer-bold color-white-dsrk">
                    Help & Information
                  </p>
                  <ul class="footer__links-list">
                    <li>
                      <a href="#" class="footer__link disclaimer-reg color-gray"
                        >Help Center</a
                      >
                    </li>
                    <li>
                      <a href="#" class="footer__link disclaimer-reg color-gray"
                        >Privacy</a
                      >
                    </li>
                    <li>
                      <a href="#" class="footer__link disclaimer-reg color-gray"
                        >Refund Policy</a
                      >
                    </li>
                    <li>
                      <a href="#" class="footer__link disclaimer-reg color-gray"
                        >Refund Policy</a
                      >
                    </li>
                    <li>
                      <a href="#" class="footer__link disclaimer-reg color-gray"
                        >terms</a
                      >
                    </li>
                  </ul>
                </figure>
              </div>

              <!-- footer nav for mobile start -->
              <div class="accordion footer__nav-item-m" id="accordionExample">
                <div>
                  <div class="" id="headingOne">
                    <p
                      class="mb-0 disclaimer-bold color-white-dsrk expend-icon"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                      role="button"
                    >
                      Join
                    </p>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <ul class="footer__links-list-m">
                      <li>
                        <a
                          href="#"
                          class="footer__link disclaimer-reg color-gray"
                          >Join as Customer</a
                        >
                      </li>
                      <li>
                        <a
                          href="#"
                          class="footer__link disclaimer-reg color-gray"
                          >Join as Promoter</a
                        >
                      </li>
                      <li>
                        <a
                          href="#"
                          class="footer__link disclaimer-reg color-gray"
                          >Upgrade to Promoter</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <div class="" id="headingTwo">
                    <p
                      class="mb-0 disclaimer-bold color-white-dsrk expend-icon"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                      role="button"
                    >
                      Company
                    </p>
                  </div>

                  <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <ul class="footer__links-list-m">
                      <li>
                        <a
                          href="#"
                          class="footer__link disclaimer-reg color-gray"
                          >About</a
                        >
                      </li>
                      <li>
                        <a
                          href="#"
                          class="footer__link disclaimer-reg color-gray"
                          >Promoter Rewards</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <div class="" id="headingThree">
                    <p
                      class="mb-0 disclaimer-bold color-white-dsrk expend-icon"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                      role="button"
                    >
                      Help & Information
                    </p>
                  </div>

                  <div
                    id="collapseThree"
                    class="collapse"
                    aria-labelledby="headingThree"
                    data-parent="#accordionExample"
                  >
                    <ul class="footer__links-list-m">
                      <li>
                        <a
                          href="#"
                          class="footer__link disclaimer-reg color-gray"
                          >Help Center</a
                        >
                      </li>
                      <li>
                        <a
                          href="#"
                          class="footer__link disclaimer-reg color-gray"
                          >Privacy</a
                        >
                      </li>
                      <li>
                        <a
                          href="#"
                          class="footer__link disclaimer-reg color-gray"
                          >Refund Policy</a
                        >
                      </li>
                      <li>
                        <a
                          href="#"
                          class="footer__link disclaimer-reg color-gray"
                          >Refund Policy</a
                        >
                      </li>
                      <li>
                        <a
                          href="#"
                          class="footer__link disclaimer-reg color-gray"
                          >terms</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- footer nav for mobile end -->

              <div class="footer__nav-item">
                <figure class="footer__links">
                  <p class="disclaimer-bold color-white-dsrk">Follow</p>
                  <ul class="footer__social-icon">
                    <li>
                      <a href="#" class="footer__social-img"
                        ><img
                          src="../../static/user/images/facebook.png"
                          alt="facebook"
                          class="img-fluid"
                      /></a>
                    </li>
                    <li>
                      <a href="#" class="footer__social-img"
                        ><img
                          src="../../static/user/images/twitter.png"
                          alt="twitter"
                          class="img-fluid"
                      /></a>
                    </li>
                    <li>
                      <a href="#" class="footer__social-img"
                        ><img
                          src="../../static/user/images/instagram.png"
                          alt="instagram"
                          class="img-fluid"
                      /></a>
                    </li>
                  </ul>
                </figure>
              </div>
              <div class="footer__nav-item">
                <figure class="footer__links">
                  <p
                    class="disclaimer-bold color-white-dsrk footer__payments-title"
                  >
                    🔒 Secure Payments
                  </p>
                  <div class="footer__payments">
                    <a href="#"
                      ><img
                        src="../../static/user/images/verified.png"
                        alt="verified"
                        class="img-fluid footer__verified"
                    /></a>

                    <ul class="footer__payments-icons">
                      <li>
                        <a href="#" class="footer__payments-img"
                          ><img
                            src="../../static/user/images/visa.png"
                            alt="visa"
                            class="img-fluid"
                        /></a>
                      </li>
                      <li>
                        <a href="#" class="footer__payments-img"
                          ><img
                            src="../../static/user/images/mastercard.png"
                            alt="mastercard"
                            class="img-fluid"
                        /></a>
                      </li>
                      <li>
                        <a href="#" class="footer__payments-img"
                          ><img
                            src="../../static/user/images/americanexpress.png"
                            alt="americanexpress"
                            class="img-fluid"
                        /></a>
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include("footer") %>
